*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    max-width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: rgb(135, 219, 255);
}

.productContainer{
    padding: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 5px;
}

.product{
    text-align: center;
    align-self: center;
    justify-self: center;
}

.prise{
    font-size: 2rem;
}

.btn{
    border-radius: 50px;
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: 1.8rem;
    color: white;
    transition: all 300ms ease;
}

.btn-primary{
    background-color: rgb(255, 123, 0);
}

.btn-secondry{
    background-color: rgb(10, 92, 255);
}

.btn:hover{
    transform: translateY(-5px);
}

.cart{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 10;
}

.black{
    background-color: rgba(0, 0, 0, 0.134);
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    z-index: 1;
}

.cartProduct{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartProduct img{
    width: 50px;
}

.cartProduct input[type=number]{
    width: 80px;
    cursor: pointer;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
}

.cartProduct p{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}